
doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/admin.css")
    title Reset-Live - Admin

  body
    h1 Reset-Live
    button Logout
    a(href="/admin/pages")
      p View and Apply new Updates
    a(href="/admin/workshops")
      p Manage Upcoming Workshops
